div {
    display: flex;
    flex-direction: column;
  }

  p {
    color: white;
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
  }

  a {
    text-decoration: line-through;
    cursor: pointer;
    margin: 20px 0;
  }

  img {
    object-fit: cover;
    width: 320px;
    height: 320px;
    border: 10px solid rgb(210, 210, 210);
    border-radius: 5px;
  }

  ul{
    all: unset;
    list-style: none;
    padding: 20px 0px;
  }